<div class="row-fluid">
  <div class="span2">
    <%= gravatar_image_tag @profile.email, alt: @profile.name %>
  </div>
  <div class="span6">
    <h2>
      <%= @profile.name %>
        <span class="label label-success"><%= @profile.for_hire %></span>
    </h2>
    <table class="profile_contact_info">
      <%# if (current_user.is_student? && (current_user.student.id == @profile.id)) ||
            (current_user.connected? (@profile)) %>
      <tr>
        <th scope="row" style="text-align: left">Phone Number</th>
        <td><%= @profile.phone_number %></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: left">Email</th>
        <td><%= mail_to @profile.email %></td>
      </tr>
      <%# end -%>
      <tr>
        <th scope="row" style="text-align: left">LinkedIn</th>
        <td><%= @profile.linkedin_site %></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: left">GitHub</th>
        <td><%= @profile.github_site %></td>
      </tr>
      <tr>
        <th scope="row" style="text-align: left">Website</th>
        <td><%= @profile.website %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span8">
    <h3>Skills</h3>
    <p>
      NOT YET IMPLEMENTED
    </p>
    <h3>Summary</h3>
    <p>
      <%= @profile.summary %>
    </p>
    <h3>Courses</h3>
      <ul>
        NOT YET IMPLEMENTED        
      </ul>
  </div>
</div>

<div class="row-fluid">
  <button class="btn btn-primary">Download Resume</button>
  <%# if current_user.is_admin? || (current_user.is_student? && current_user.student_id == @profile.id) %>
    <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-primary" %>
  <%# end -%>
  <%= link_to 'Back', profiles_path, class: "btn btn-primary" %>
</div>

